<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>苍穹生态树</title>
    <link rel="stylesheet" href="styles/normalize.css" />
    <link rel="stylesheet" href="styles/sky-tree.css" />
    <link rel="stylesheet" href="styles/odometer-theme-default.css" />
  </head>
  <body>
    <div class="background">
      <div class="background-tree">
        <img id="tree" alt="苍穹生态树" />
      </div>
      <canvas id="canvas"></canvas>
      <div class="cloud-container">
        <img id="cloudStar" class="cloud-star" src="/images/cloud_star.svg" alt="金蝶云生态树" />
      </div>
      <div id="lottie"></div>
    </div>
    <div id="app">
      <header class="header">
        <div class="header-kingdee">
          <img :src="`/images/logo_kingdee@${dpr}x.png`" alt="kingdee logo" />
        </div>
        <div class="header-ecotree">
          <img :src="`/images/logo_ecotree@${dpr}x.png`" alt="ecotree logo" />
        </div>
      </header>
      <main class="content">
        <div class="interactive">
          <div class="partner-box">
            <ul class="partner-list">
              <li
                v-for="(item, index) in currentPartnerList"
                @mouseenter="handleMouseEnter(index)"
                @mouseleave="handleMouseLeave"
                :class="`level${item.partnerLevel}${fadeIn ? ' fade-in' : ''}${item && partnerInfo && item.id === partnerInfo.id ? ' current' : ''}`"
                :style="`left: ${item.left/10}rem; top: ${item.top/10}rem; width: ${item.size/10}rem; height: ${item.size/10}rem;`"
              >
                <img
                  v-if="item.partnerLogo"
                  :src="'/api/public/file/'+item.partnerLogo"
                  :alt="item.name"
                />
              </li>
            </ul>
            <div
              v-if="partnerInfo"
              :class="`partner-info level${partnerInfo.partnerLevel}${infoFadeIn ? ' fade-in' : ''}`"
            >
              <h3 class="partner-level">
                <img
                  v-if="partnerInfo.partnerLevel"
                  :src="`/images/icon_partner_level${partnerInfo.partnerLevel}@${dpr}x.png`"
                  alt="伙伴等级"
                />
                ISV生态伙伴
                <!-- {{partnerInfo.partnerLevel == 1 ? '生态战略伙伴' :
                partnerInfo.partnerLevel == 2 ? '生态金牌伙伴' : '生态伙伴'}} -->
              </h3>
              <header class="partner-header">
                <div class="partner-avatar">
                  <img
                    v-if="partnerInfo.partnerLogo"
                    :src="'/api/public/file/'+partnerInfo.partnerLogo"
                    :alt="partnerInfo.name"
                  />
                </div>
                <h3 class="partner-title">
                  {{partnerInfo.name}}
                </h3>
                <span class="partner-cloud">{{partnerInfo.productName}}</span>
              </header>
            </div>
          </div>
          <button class="interactive-light" v-if="!isLightUp" @click="handleLightUp">
            <img :src="`/images/icon_light@${dpr}x.png`" alt="点亮生态树" />
            点亮生态树
          </button>
          <p class="interactive-tips" v-if="!isLightUp">
            每位用户点亮生态树<br />即为生态树提供100的能量值
          </p>
          <div class="interactive-join">
            <a href="javascript:;">
              扫码加入
            </a>
            <div class="interactive-qrcode">
              <img src="/images/qrcode.png" alt="金蝶云生态树" />
            </div>
            <a :href="detailURL" target="_blank">
              了解详情
            </a>
          </div>
          <div class="interactive-counts">
            <div class="counts-energy">
              <h4>生态树能量值</h4>
              <strong ref="energyValue"></strong>
              <span
                :class="`counts-energy-effect ${isLightUp ? ' lightup' : ''}`"
                ref="addEnergyEffect"
                >+100</span
              >
            </div>
            <div class="counts-cont">
              <div class="counts-partner">
                <h4><img :src="`/images/icon_partner@${dpr}x.png`" alt="" />总伙伴数</h4>
                <ul class="counts-numbers">
                  <li v-for="item in partnerCounts">{{item}}</li>
                </ul>
              </div>
              <div class="counts-app">
                <h4><img :src="`/images/icon_app@${dpr}x.png`" alt="" />总应用数</h4>
                <ul class="counts-numbers">
                  <li v-for="item in prodCounts">{{item}}</li>
                </ul>
              </div>
            </div>
            <ul class="counts-list">
              <li>
                <h4><img :src="`/images/icon_developer@${dpr}x.png`" alt="" />总开发人数</h4>
                <strong>{{devCounts}}</strong>
              </li>
              <li>
                <h4><img :src="`/images/icon_game@${dpr}x.png`" alt="" />开发者大赛人数</h4>
                <strong>378</strong>
              </li>
              <li>
                <h4><img :src="`/images/icon_customer@${dpr}x.png`" alt="" />客户数</h4>
                <strong>6,800,000</strong>
              </li>
            </ul>
          </div>
        </div>
        <div class="description">
          <h2 class="description-slogan">
            以客户价值为中心，给生态伙伴以舞台，丰富行业场景应用
          </h2>
          <div class="description-stucture">
            <img :src="`/images/cloud_eco@${dpr}x.png`" alt="云生态" />
          </div>
          <div class="description-brand">
            <div class="description-brand-qrcode">
              <img src="/images/qrcode.png" alt="金蝶云生态" />
            </div>
            <div class="description-brand-text">
              <span>扫码加入我们</span>
              <h3>携手同行， 缔造不凡</h3>
            </div>
          </div>
          <ul class="description-feature">
            <li><img :src="`/images/icon_revenue@${dpr}x.png`" alt="" />增加营收</li>
            <li><img :src="`/images/icon_renown@${dpr}x.png`" alt="" />提高名声</li>
            <li><img :src="`/images/icon_growing@${dpr}x.png`" alt="" />助你成长</li>
            <li><img :src="`/images/icon_service@${dpr}x.png`" alt="" />为你服务</li>
          </ul>
        </div>
      </main>
      <footer class="footer">
        2020金蝶软件（中国）有限公司 粤ICP备05041751号-2 粤公网安备 44030502002324号
      </footer>
    </div>
    <script src="./scripts/lottie.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.11/vue.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/odometer.js/0.4.8/odometer.min.js"></script>
    <script>
      function Star(id, x, y) {
        // id
        this.id = id;

        // 圆心坐标
        this.x = x;
        this.y = y;

        const a = Math.random();
        let b = 1;
        if (a >= 0.2 && a < 0.5) {
          b = 2;
        } else if (a >= 0.5 && a < 0.7) {
          b = 3;
        } else if (a >= 0.7 && a < 0.75) {
          b = 4;
        } else if (a >= 0.75 && a < 0.7501) {
          b = 5;
        } else if (a >= 0.76 && a < 0.7601) {
          b = 6;
        }

        // 半径
        this.r = b;

        // 发光大小
        this.shadowBlur = 0;

        // 透明度
        this.alpha = (6 + Math.random() * 4) / 10;

        // 颜色
        const colorArr = ['#2185ED', '#04CCFD', '#03C7C7', '#9F6DFF'];
        const color = colorArr[Math.floor(Math.random() * 4)];
        this.color = colorRgba(color, this.alpha);
      }

      Star.prototype.draw = function () {
        ctx.save();
        ctx.fillStyle = this.color;
        if (/^bg_/.test(this.id) || (!/^bg_/.test(this.id) && !isLightUp)) {
          ctx.shadowColor = 'white';
          ctx.shadowBlur = this.shadowBlur;
        }
        ctx.beginPath();
        ctx.arc(this.x, this.y, this.r, 0, 2 * Math.PI, false);
        ctx.closePath();
        ctx.fill();
        ctx.restore();
      };

      Star.prototype.glint = function () {
        const vs = this.r * 10 * 0.01;
        const vr = this.r * 0.01;
        if (this.isBright) {
          this.shadowBlur -= vs;
          this.r -= vr;
          if (this.shadowBlur <= 1) this.isBright = false;
        } else {
          this.shadowBlur += vs;
          this.r += vr;
          if (this.shadowBlur >= 20) this.isBright = true;
        }
        this.draw();
      };

      Star.prototype.moveToTree = function () {
        const vx = (this.focusPos.x - this.x) * 0.18;
        const vy = (this.focusPos.y - this.y) * 0.18;
        if (this.x !== this.focusPos.x) this.x += vx;
        if (this.y !== this.focusPos.y) this.y += vy;
        this.draw();
      };

      Star.prototype.toTree = function () {
        this.x = this.focusPos.x;
        this.y = this.focusPos.y;
        this.draw();
      };

      const stars = [];
      const bgStars = [];
      const starNumber = 2000;
      const bgStarNumber = 200;
      const background = document.querySelector('.background');
      const canvas = document.getElementById('canvas');
      const ctx = canvas.getContext('2d');
      const dpr = window.devicePixelRatio > 1 ? 2 : 1;
      const tree = document.getElementById('tree');
      const lottieContainer = document.getElementById('lottie');
      const cloudStar = document.getElementById('cloudStar');
      const lightUpBtn = document.getElementById('lightUpBtn');

      // 加载生态树
      tree.src = `/images/eco_tree@${dpr}x.png`;

      // 设置背景图片
      background.style.setProperty('--background-image', `url(../images/aperture@${dpr}x.png)`);

      let od,
        rafG,
        rafP,
        WIDTH,
        HEIGHT,
        treeRect,
        isLightUp = false;

      // 初始化画布和star
      tree.onload = init();

      // 窗口改变大小事件
      window.addEventListener('resize', () => {
        resizeCanvas();
        drawTree();
      });

      // 初始化函数
      function init() {
        // 初始化画布大小
        resizeCanvas();
        drawTree();

        treeRect = tree.getBoundingClientRect();
        const scrollTop = document.documentElement.scrollTop;
        const scrollLeft = document.documentElement.scrollLeft;

        // 初始化背景star
        for (let i = 0; i < bgStarNumber; i++) {
          const x = Math.floor(Math.random() * WIDTH * 2);
          const y = Math.floor(Math.random() * (background.offsetHeight - 100));

          if (
            !(
              x >= treeRect.x + scrollLeft - 20 &&
              x <= treeRect.x + treeRect.width + scrollLeft + 20 &&
              y >= treeRect.y + scrollTop - 20 &&
              y <= treeRect.y + treeRect.height + scrollTop + 20
            ) &&
            !(x > 0 && x < 200 && y > 0 && y < 100)
          ) {
            const bgStar = new Star(`bg_${i}`, x, y);
            bgStar.draw();
            bgStars.push(bgStar);
          }
        }
        console.log('bgStarNumber: ', bgStars.length);

        if (isLightUp) {
          // 显示星云
          cloudStar.className = 'lightup';

          // 背景星星闪烁
          glink();
        } else {
          // 初始化能量star
          for (let i = 0; i < starNumber; i++) {
            const directionX = Math.random() < 0.5 ? -1 : 1;
            const directionY = Math.random() < 0.5 ? -1 : 1;
            const spreadX = directionX ? 2 : 1;
            const spreadY = directionY ? 2 : 1;

            const x = directionX * Math.floor(Math.random() * WIDTH * spreadX);
            const y = directionY * Math.floor(Math.random() * (background.offsetHeight - 100));

            if (
              !(
                x >= treeRect.x + scrollLeft - 20 &&
                x <= treeRect.x + treeRect.width + scrollLeft + 20 &&
                y >= treeRect.y + scrollTop - 20 &&
                y <= treeRect.y + treeRect.height + scrollTop + 20
              ) &&
              !(x > 0 && x < 200 && y > 0 && y < 100)
            ) {
              const star = new Star(`power_${i}`, x, y);
              star.draw();
              stars.push(star);
            }
          }

          console.log('starNumber: ', stars.length);

          // 星星闪烁
          glink();

          // 点亮生态树按钮动效
          lightEffect();
        }
      }

      function drawTree() {
        treeRect = tree.getBoundingClientRect();
        const scrollTop = document.documentElement.scrollTop;
        const scrollLeft = document.documentElement.scrollLeft;
        ctx.drawImage(
          tree,
          treeRect.x + scrollLeft,
          treeRect.y + scrollTop,
          treeRect.width,
          treeRect.height,
        );
      }

      // 设置画布大小为浏览器窗口大小
      function resizeCanvas() {
        WIDTH = document.documentElement.clientWidth;
        HEIGHT = document.documentElement.clientHeight;
        canvas.setAttribute('width', WIDTH);
        canvas.setAttribute('height', background.offsetHeight);
      }

      // 根据tree的形状随机生成所有star的坐标
      function generateFousPos() {
        // tree的对star的吸附程度，值为0-1之间的值，0是完全不吸附，1是完全吸附。
        const fit = 1;
        const starsLength = stars.length;
        const fitLength = Math.floor(starsLength * fit);

        const minX = canvas.width / 2 - treeRect.width / 2;
        const minY = canvas.height / 2 - treeRect.height / 2;
        const data = ctx.getImageData(minX, minY, treeRect.width, treeRect.height * 0.7).data;

        const ableDataArr = [];
        for (var i = 0; i < data.length; i++) {
          var num = Math.floor(Math.random() * data.length);
          if (data[num]) {
            ableDataArr.push(num);
          }
        }

        for (let i = 0; i < fitLength; i++) {
          var w = Math.floor(treeRect.width);
          var num = ableDataArr[i];
          num = Math.floor(num / 4);
          var x = canvas.width / 2 - (w / 2 - (num % w));
          var y = canvas.height / 2 - (treeRect.height / 2 - Math.floor(num / w));
          stars[i].focusPos = { x, y };
        }

        for (let i = fitLength; i < starsLength; i++) {
          var x = treeRect.x + treeRect.width / 2;
          var y = treeRect.y + treeRect.height * 0.4;
          var r1 = treeRect.width / 2;
          var r2 = treeRect.height * 0.4;

          const scrollTop = document.documentElement.scrollTop;
          const scrollLeft = document.documentElement.scrollLeft;
          stars[i].focusPos = getEllipsePath(x + scrollLeft, y + scrollTop, r1, r2);
        }
      }

      // 吸附star到tree上的函数
      function polymeric() {
        ctx.clearRect(0, 0, canvas.width, canvas.height);

        drawTree();

        // 背景star闪烁
        bgStars.forEach((star, index) => {
          if (star.x > 0 && star.y > 0 && star.x < WIDTH && star.y < HEIGHT) {
            star.glint();
          }
        });

        // 吸附能量star
        stars.forEach((star, index) => {
          star.moveToTree();
        });

        rafP = requestAnimationFrame(polymeric);
      }

      // 星星闪烁
      function glink() {
        ctx.clearRect(0, 0, canvas.width, canvas.height);

        drawTree();

        // 背景星星闪烁
        bgStars.forEach((star, index) => {
          if (star.x > 0 && star.y > 0 && star.x < WIDTH && star.y < HEIGHT) {
            star.glint();
          }
        });

        // 能量星星闪烁
        stars.forEach((star, index) => {
          if (star.x > 0 && star.y > 0 && star.x < WIDTH && star.y < HEIGHT) {
            star.glint();
          }
        });

        rafG = requestAnimationFrame(glink);
      }

      // 背景星星闪烁
      function bgGlink() {
        ctx.clearRect(0, 0, canvas.width, canvas.height);

        drawTree();

        // 背景星星闪烁
        bgStars.forEach((star, index) => {
          if (star.x > 0 && star.y > 0 && star.x < WIDTH && star.y < HEIGHT) {
            star.glint();
          }
        });

        requestAnimationFrame(bgGlink);
      }

      // 给定椭圆圆心和半径填充椭圆函数
      function getEllipsePath(x, y, r1, r2) {
        let R1 = r1 * Math.random();
        let R2 = r2 * Math.random();
        let theta = Math.random() * 2 * Math.PI;
        targetX = x + R1 * Math.cos(theta);
        targetY = y + R2 * Math.sin(theta);
        return { x: targetX, y: targetY };
      }

      // 十六进制颜色值转rgba
      function colorRgba(sHex, alpha) {
        // 十六进制颜色值的正则表达式
        var reg = /^#([0-9a-fA-f]{3}|[0-9a-fA-f]{6})$/;
        /* 16进制颜色转为RGB格式 */
        let sColor = sHex.toLowerCase();
        if (sColor && reg.test(sColor)) {
          if (sColor.length === 4) {
            var sColorNew = '#';
            for (let i = 1; i < 4; i += 1) {
              sColorNew += sColor.slice(i, i + 1).concat(sColor.slice(i, i + 1));
            }
            sColor = sColorNew;
          }
          // 处理六位的颜色值
          var sColorChange = [];
          for (let i = 1; i < 7; i += 2) {
            sColorChange.push(parseInt('0x' + sColor.slice(i, i + 2)));
          }
          return 'rgba(' + sColorChange.join(',') + ',' + alpha + ')';
        } else {
          return sColor;
        }
      }

      // 防抖函数
      function debounce(fn, wait) {
        let timer = null;
        return function () {
          if (timer !== null) clearTimeout(timer);
          timer = setTimeout(fn, wait);
        };
      }

      // 点亮生态树按钮动效
      function lightEffect() {
        axios.get('./scripts/data.json').then((response) => {
          if (response.status === 200) {
            var params = {
              container: lottieContainer,
              renderer: 'svg',
              loop: true,
              autoplay: true,
              animationData: response.data,
            };
            lottie.loadAnimation(params);
          }
        });
      }

      new Vue({
        el: '#app',
        data: {
          devCounts: 0,
          partnerCounts: 0,
          prodCounts: 0,
          partnerList: [],
          currentRound: 0,
          fadeIn: false,
          infoFadeIn: false,
          timer1: null,
          timer2: null,
          timer3: null,
          currentPartnerList: [],
          partnerIndex: 0,
          partnerInfo: {},
          isLightUp: isLightUp,
          detailURL: 'http://dev.kcssz.cloud.kingdee.com/index/partner/home',
        },
        created: function () {
          this.getEnergy();
          this.getAllCounts();
          this.getPartnerList();
        },
        mounted() {
          od = new Odometer({
            el: this.$refs.energyValue,
            value: 268,
            duration: 1000,
            format: 'd',
            theme: 'default',
          });

          if (isLightUp) {
            // 去掉增加能量值动效
            const addEnergyEffect = this.$refs.addEnergyEffect;
            addEnergyEffect.parentElement.removeChild(addEnergyEffect);
          }
        },
        methods: {
          // 查询伙伴列表
          getPartnerList: function () {
            axios
              .get('/kd/ecos/partner/queryall')
              .then((response) => {
                if (response.status === 200 && response.data.code === 200) {
                  const partnerList = response.data.data;
                  const level1PartnerList = [];
                  const level2PartnerList = [];
                  const level3PartnerList = [];
                  const deleteArr = [];
                  const round = 3;

                  for (let i = 0; i < partnerList.length; i++) {
                    const partner = partnerList[i];
                    if (partner.partnerLevel == 1 && level1PartnerList.length < round) {
                      level1PartnerList.push(partner);
                      deleteArr.push(i);
                    }
                    if (partner.partnerLevel == 2 && level2PartnerList.length < round * 3) {
                      level2PartnerList.push(partner);
                      deleteArr.push(i);
                    }
                    if (partner.partnerLevel == 3 && level3PartnerList.length < round * 3) {
                      level3PartnerList.push(partner);
                      deleteArr.push(i);
                    }
                    if (
                      level1PartnerList.length === round &&
                      level2PartnerList.length === round * 3 &&
                      level3PartnerList.length === round * 3
                    ) {
                      break;
                    }
                  }

                  deleteArr.forEach((index) => {
                    partnerList.splice(index, 1);
                  });

                  console.log(level1PartnerList.length, level2PartnerList.length, level3PartnerList.length, partnerList.length);

                  for (let i = 0; i < round; i++) {
                    for(let j = 0; j < 7; j++) {
                      if(j === 0) {
                        partnerList.unshift(level1PartnerList[i]);
                      } else if(j%2==1) {
                        partnerList.unshift(level2PartnerList[i*(j*2-1)]);
                      } else {

                      }
                    }
                  }

                  this.partnerList = partnerList;

                  if (isLightUp) {
                    // 伙伴列表轮播
                    this.playPartnerList();
                  }
                }
              })
              .catch((error) => {
                console.log(error);
              });
          },

          // 查询总开发者人数
          getAllCounts: function () {
            axios
              .get('/kd/ecos/partner/getdevcounts')
              .then((response) => {
                if (response.status === 200 && response.data.code === 200) {
                  const { devCounts, partnerCounts, prodCounts } = response.data.data;
                  this.devCounts = devCounts;
                  this.partnerCounts = String(partnerCounts).split('');
                  this.prodCounts = String(prodCounts).split('');
                }
              })
              .catch((error) => {
                console.log(error);
              });
          },

          // 获取能量值
          getEnergy: function () {
            axios
              .get('/kd/ecos/production/geteneryvalue')
              .then((response) => {
                if (response.status === 200 && response.data.code === 200) {
                  od.update(response.data.data);
                }
              })
              .catch((error) => {
                console.log(error);
              });
          },

          // 增加能量值
          addEnergy: function () {
            axios
              .get('/kd/ecos/production/eneryvalue')
              .then((response) => {
                if (response.status === 200 && response.data.code === 200) {
                  od.update(response.data.data);
                }
              })
              .catch((error) => {
                console.log(error);
              });
          },

          //点亮生态树
          handleLightUp: function () {
            if (!isLightUp) {
              // 取消星星闪烁动画
              cancelAnimationFrame(rafG);

              // 开始星星的聚合动画
              generateFousPos();
              polymeric();

              // 取消星星的聚合动画
              setTimeout(() => {
                cancelAnimationFrame(rafP);
                bgGlink();
              }, 400);

              // 去除点亮生态树按钮动效，设置点亮状态
              tree.style.visibility = 'visible';
              isLightUp = true;
              this.isLightUp = true;
              lottieContainer.parentElement.removeChild(lottieContainer);
              cloudStar.className = 'lightup';

              // 伙伴列表轮播
              this.playPartnerList();

              // 增加能量值
              this.addEnergy();
            }
          },

          playPartnerList: function () {
            console.log('currentRound: ', this.currentRound);
            const roundNumber = 7;
            const currentPartnerList = [];

            // 三组伙伴轮播位置布局
            const partnerPosArr = [
              [
                { left: 100, top: 100 },
                { left: 600, top: 300 },
                { left: 220, top: 220 },
                { left: 320, top: 20 },
                { left: 500, top: 200 },
                { left: 400, top: 360 },
                { left: 0, top: 300 },
              ],
              [
                { left: 120, top: 400 },
                { left: 500, top: 120 },
                { left: 300, top: 200 },
                { left: 200, top: 60 },
                { left: 600, top: 300 },
                { left: 20, top: 180 },
                { left: 420, top: 340 },
              ],
              [
                { left: 300, top: 330 },
                { left: 350, top: 0 },
                { left: 500, top: 100 },
                { left: 250, top: 150 },
                { left: 10, top: 250 },
                { left: 100, top: 400 },
                { left: 600, top: 350 },
              ],
            ];

            for (let i = 0; i < 7; i++) {
              const currrentPartner = this.partnerList[this.currentRound * roundNumber + i];

              // 设置伙伴球的位置
              const { left, top } = partnerPosArr[this.currentRound % 3][i];
              currrentPartner.left = left;
              currrentPartner.top = top;

              // 设置伙伴球的尺寸
              const sizeArr = [70, 80, 90, 100];
              const randomNumber = Math.floor(Math.random() * 7);
              let size = 80;
              if (randomNumber === 0) size = 70;
              if (randomNumber === 1) size = 90;
              if (randomNumber === 2) size = 100;
              currrentPartner.size = size;

              currentPartnerList.push(currrentPartner);
            }

            this.currentPartnerList = currentPartnerList;
            setTimeout(() => {
              this.fadeIn = true;
              this.currentRound += 1;

              this.playPartnerInfo();
            }, 0);
          },

          playPartnerInfo: function () {
            this.infoFadeIn = true;
            this.partnerInfo = this.currentPartnerList[this.partnerIndex];
            if (this.partnerIndex < 7) {
              console.log('partnerIndex: ', this.partnerIndex);
              this.partnerIndex += 1;
              this.timer1 = setTimeout(() => {
                this.infoFadeIn = false;
                this.timer2 = setTimeout(() => {
                  this.playPartnerInfo();
                }, 200);
              }, 1000 * 3);
            } else {
              this.fadeIn = false;
              this.partnerIndex = 0;

              this.currentPartnerList.forEach((partner) => {
                console.log('treeRect: ', treeRect);
                partner.left = treeRect.width / 2;
                partner.top = treeRect.height / 2;
              });

              this.timer3 = setTimeout(() => {
                this.playPartnerList();
              }, 1000);
            }
          },

          handleMouseEnter: function (index) {
            console.log('partnerIndex: ', index);
            if (this.fadeIn) {
              this.timer1 && clearInterval(this.timer1);
              this.timer2 && clearInterval(this.timer2);
              this.timer3 && clearInterval(this.timer3);
              this.timer1 = setTimeout(() => {
                this.infoFadeIn = false;
                this.partnerInfo = this.currentPartnerList[index];
                this.timer2 = setTimeout(() => {
                  this.infoFadeIn = true;
                }, 200);
              }, 500);
            }
          },

          handleMouseLeave: function () {
            if (this.fadeIn) {
              this.timer1 && clearInterval(this.timer1);
              this.timer2 && clearInterval(this.timer2);
              this.infoFadeIn = false;
              this.timer2 = setTimeout(() => {
                this.playPartnerInfo();
              }, 500);
            }
          },
        },
      });
    </script>
  </body>
</html>
