@charset "UTF-8";
html,
body {
  font-family: Micrsoft YaHei, PingFangSC-Regular, PingFang SC, 黑体;
  color: white;
  font-size: 62.5%;
  min-width: 1200px;
  min-height: 100vh;
}

html {
  background: -webkit-gradient(linear, left bottom, left top, from(#0a004b), to(#021032));
  background: linear-gradient(360deg, #0a004b 0%, #021032 100%);
}

body {
  background: url(../images/bg_sky@1x.png) center top no-repeat;
  background-size: cover;
}

@font-face {
  font-family: 'KINGDEEKB';
  src: url('../fonts/KINGDEEKB-Regular.otf');
}

@font-face {
  font-family: 'KINGDEEKB-Bold';
  src: url('../fonts/KINGDEEKB-Bold.otf');
}

@font-face {
  font-family: 'KINGDEEKB-Light';
  src: url('../fonts/KINGDEEKB-Light.otf');
}

@-webkit-keyframes shinePurple {
  0% {
    -webkit-box-shadow: 2px 2px 10px 1px #9165eb, -2px -2px 10px 1px #9165eb;
    box-shadow: 2px 2px 10px 1px #9165eb, -2px -2px 10px 1px #9165eb;
  }
  50% {
    -webkit-box-shadow: 2px 2px 30px 1px #9165eb, -2px -2px 30px 1px #9165eb;
    box-shadow: 2px 2px 30px 1px #9165eb, -2px -2px 30px 1px #9165eb;
  }
  100% {
    -webkit-box-shadow: 2px 2px 10px 1px #9165eb, -2px -2px 10px 1px #9165eb;
    box-shadow: 2px 2px 10px 1px #9165eb, -2px -2px 10px 1px #9165eb;
  }
}

@keyframes shinePurple {
  0% {
    -webkit-box-shadow: 2px 2px 10px 1px #9165eb, -2px -2px 10px 1px #9165eb;
    box-shadow: 2px 2px 10px 1px #9165eb, -2px -2px 10px 1px #9165eb;
  }
  50% {
    -webkit-box-shadow: 2px 2px 30px 1px #9165eb, -2px -2px 30px 1px #9165eb;
    box-shadow: 2px 2px 30px 1px #9165eb, -2px -2px 30px 1px #9165eb;
  }
  100% {
    -webkit-box-shadow: 2px 2px 10px 1px #9165eb, -2px -2px 10px 1px #9165eb;
    box-shadow: 2px 2px 10px 1px #9165eb, -2px -2px 10px 1px #9165eb;
  }
}

@-webkit-keyframes shineGreen {
  0% {
    -webkit-box-shadow: 2px 2px 10px 1px #0ad5d4, -2px -2px 10px 1px #0ad5d4;
    box-shadow: 2px 2px 10px 1px #0ad5d4, -2px -2px 10px 1px #0ad5d4;
  }
  50% {
    -webkit-box-shadow: 2px 2px 30px 1px #0ad5d4, -2px -2px 30px 1px #0ad5d4;
    box-shadow: 2px 2px 30px 1px #0ad5d4, -2px -2px 30px 1px #0ad5d4;
  }
  100% {
    -webkit-box-shadow: 2px 2px 10px 1px #0ad5d4, -2px -2px 10px 1px #0ad5d4;
    box-shadow: 2px 2px 10px 1px #0ad5d4, -2px -2px 10px 1px #0ad5d4;
  }
}

@keyframes shineGreen {
  0% {
    -webkit-box-shadow: 2px 2px 10px 1px #0ad5d4, -2px -2px 10px 1px #0ad5d4;
    box-shadow: 2px 2px 10px 1px #0ad5d4, -2px -2px 10px 1px #0ad5d4;
  }
  50% {
    -webkit-box-shadow: 2px 2px 30px 1px #0ad5d4, -2px -2px 30px 1px #0ad5d4;
    box-shadow: 2px 2px 30px 1px #0ad5d4, -2px -2px 30px 1px #0ad5d4;
  }
  100% {
    -webkit-box-shadow: 2px 2px 10px 1px #0ad5d4, -2px -2px 10px 1px #0ad5d4;
    box-shadow: 2px 2px 10px 1px #0ad5d4, -2px -2px 10px 1px #0ad5d4;
  }
}

@-webkit-keyframes shineBlue {
  0% {
    -webkit-box-shadow: 2px 2px 10px 1px #2486ee, -2px -2px 10px 1px #2486ee;
    box-shadow: 2px 2px 10px 1px #2486ee, -2px -2px 10px 1px #2486ee;
  }
  50% {
    -webkit-box-shadow: 2px 2px 30px 1px #2486ee, -2px -2px 30px 1px #2486ee;
    box-shadow: 2px 2px 30px 1px #2486ee, -2px -2px 30px 1px #2486ee;
  }
  100% {
    -webkit-box-shadow: 2px 2px 10px 1px #2486ee, -2px -2px 10px 1px #2486ee;
    box-shadow: 2px 2px 10px 1px #2486ee, -2px -2px 10px 1px #2486ee;
  }
}

@keyframes shineBlue {
  0% {
    -webkit-box-shadow: 2px 2px 10px 1px #2486ee, -2px -2px 10px 1px #2486ee;
    box-shadow: 2px 2px 10px 1px #2486ee, -2px -2px 10px 1px #2486ee;
  }
  50% {
    -webkit-box-shadow: 2px 2px 30px 1px #2486ee, -2px -2px 30px 1px #2486ee;
    box-shadow: 2px 2px 30px 1px #2486ee, -2px -2px 30px 1px #2486ee;
  }
  100% {
    -webkit-box-shadow: 2px 2px 10px 1px #2486ee, -2px -2px 10px 1px #2486ee;
    box-shadow: 2px 2px 10px 1px #2486ee, -2px -2px 10px 1px #2486ee;
  }
}

@-webkit-keyframes lightup {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2rem) scale(0.5);
    transform: translateY(-2rem) scale(0.5);
  }
  20% {
    opacity: 1;
    -webkit-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1);
  }
  80% {
    opacity: 1;
    -webkit-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-2rem) scale(0.5);
    transform: translateY(-2rem) scale(0.5);
  }
}

@keyframes lightup {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2rem) scale(0.5);
    transform: translateY(-2rem) scale(0.5);
  }
  20% {
    opacity: 1;
    -webkit-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1);
  }
  80% {
    opacity: 1;
    -webkit-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-2rem) scale(0.5);
    transform: translateY(-2rem) scale(0.5);
  }
}

.background {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 89rem;
  min-width: 1200px;
}

.background::before {
  position: absolute;
  left: 50%;
  bottom: 1px;
  content: '';
  width: 118rem;
  height: 12rem;
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.background .background-tree {
  z-index: -1;
  position: absolute;
  left: 50%;
  bottom: 6rem;
  width: 72.9rem;
  height: 66.6rem;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.background .background-tree img {
  width: 100%;
  height: 100%;
  visibility: hidden;
}

.background .cloud-container {
  position: absolute;
  left: 50%;
  bottom: 6rem;
  width: 82rem;
  height: 74rem;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.background .cloud-container #cloudStar {
  width: 100%;
  opacity: 0;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  visibility: hidden;
  -webkit-transition: all 0.2s 0.7s;
  transition: all 0.2s 0.7s;
}

.background .cloud-container #cloudStar.lightup {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  visibility: visible;
}

.background #lottie {
  position: absolute;
  top: 62%;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
}

#app {
  background: url(../images/bg_cicle@1x.png) left top no-repeat;
  background-size: contain;
}

.content {
  z-index: 1;
  position: relative;
  overflow-x: hidden;
}

.content .interactive {
  z-index: 1;
  position: relative;
  height: 89rem;
}

.content .interactive .partner-box {
  z-index: -1;
  position: absolute;
  left: 50%;
  bottom: 6rem;
  width: 72.9rem;
  height: 66.6rem;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.content .interactive .partner-box .partner-list {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  list-style: none;
}

.content .interactive .partner-box .partner-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  padding: 2rem;
  border-radius: 50%;
  overflow: hidden;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0;
}

.content .interactive .partner-box .partner-list li.level1 {
  background-image: url(../images/bg_partner_avatar_level1@1x.png);
}

.content .interactive .partner-box .partner-list li.level1.current {
  -webkit-animation: shinePurple 1s ease-in infinite;
  animation: shinePurple 1s ease-in infinite;
}

.content .interactive .partner-box .partner-list li.level2 {
  background-image: url(../images/bg_partner_avatar_level2@1x.png);
}

.content .interactive .partner-box .partner-list li.level2.current {
  -webkit-animation: shineGreen 1s ease-in infinite;
  animation: shineGreen 1s ease-in infinite;
}

.content .interactive .partner-box .partner-list li.level3 {
  background-image: url(../images/bg_partner_avatar_level3@1x.png);
}

.content .interactive .partner-box .partner-list li.level3.current {
  -webkit-animation: shineBlue 1s ease-in infinite;
  animation: shineBlue 1s ease-in infinite;
}

.content .interactive .partner-box .partner-list li.fade-in {
  opacity: 1;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.content .interactive .partner-box .partner-list li:nth-child(2) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.content .interactive .partner-box .partner-list li:nth-child(3) {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.content .interactive .partner-box .partner-list li:nth-child(4) {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.content .interactive .partner-box .partner-list li:nth-child(5) {
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.content .interactive .partner-box .partner-list li:nth-child(6) {
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.content .interactive .partner-box .partner-list li:nth-child(7) {
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}

.content .interactive .partner-box .partner-list li img {
  max-width: 100%;
  max-height: 100%;
}

.content .interactive .partner-box .partner-info {
  position: absolute;
  top: 50%;
  right: -40rem;
  width: 34rem;
  min-height: 17rem;
  border-radius: 0.8rem;
  border-radius: 0.4rem;
  border: 1px solid;
  -webkit-transform: translateY(-70%);
  transform: translateY(-70%);
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  opacity: 0;
}

.content .interactive .partner-box .partner-info.fade-in {
  opacity: 1;
  -webkit-transform: translateY(-65%);
  transform: translateY(-65%);
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.content .interactive .partner-box .partner-info::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  content: '';
  background: center bottom no-repeat;
  background-size: contain;
}

.content .interactive .partner-box .partner-info.level1 {
  border-color: #9165eb;
  background-color: #171652;
  -webkit-box-shadow: 0px 0px 10px 0px #9165eb inset;
  box-shadow: 0px 0px 10px 0px #9165eb inset;
}

.content .interactive .partner-box .partner-info.level1::before {
  background-image: url(../images/bg_info_level1@1x.png);
}

.content .interactive .partner-box .partner-info.level2 {
  border-color: #0ad5d4;
  background-color: #081f4e;
  -webkit-box-shadow: 0px 0px 10px 0px #0ad5d4 inset;
  box-shadow: 0px 0px 10px 0px #0ad5d4 inset;
}

.content .interactive .partner-box .partner-info.level2::before {
  background-image: url(../images/bg_info_level2@1x.png);
}

.content .interactive .partner-box .partner-info.level3 {
  border-color: #2486ee;
  background-color: #0b1751;
  -webkit-box-shadow: 0px 0px 10px 0px #2486ee inset;
  box-shadow: 0px 0px 10px 0px #2486ee inset;
}

.content .interactive .partner-box .partner-info.level3::before {
  background-image: url(../images/bg_info_level3@1x.png);
}

.content .interactive .partner-box .partner-info .partner-level {
  margin: 0;
  padding: 1.1rem 0;
  font-size: 1.6rem;
  font-weight: 400;
  text-align: center;
  line-height: 2.4rem;
}

.content .interactive .partner-box .partner-info .partner-level img {
  width: 2rem;
  height: 1.7rem;
  margin-right: 0.8rem;
  vertical-align: middle;
}

.content .interactive .partner-box .partner-info .partner-header {
  position: relative;
  margin: 2.4rem 2rem 0;
  padding-left: 8.4rem;
  padding-right: 2rem;
  line-height: 2.4rem;
  font-size: 1.6rem;
}

.content .interactive .partner-box .partner-info .partner-header .partner-avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 7.2rem;
  height: 7.2rem;
  overflow: hidden;
  border-radius: 50%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: white;
}

.content .interactive .partner-box .partner-info .partner-header .partner-avatar img {
  max-width: 100%;
  max-height: 100%;
}

.content .interactive .partner-box .partner-info .partner-header .partner-title {
  display: flex;
  height: 7.2rem;
  align-items: center;
  align-content: center;
  font-weight: normal;
  font-size: 1.6rem;

  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.content .interactive .partner-box .partner-info .partner-detail {
  margin: 1.2rem 2rem;
  line-height: 2.2rem;
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.7);
}

.content .interactive .partner-box .partner-info .partner-app {
  margin: 0 2rem;
  padding: 1.5rem 0;
  border-top: 1px solid;
}

.content .interactive .partner-box .partner-info.level1 .partner-app {
  border-top-color: #9165eb;
}
.content .interactive .partner-box .partner-info.level2 .partner-app {
  border-top-color: #0ad5d4;
}
.content .interactive .partner-box .partner-info.level3 .partner-app {
  border-top-color: #2486ee;
}

.content .interactive .partner-box .partner-info .partner-app .partner-app-title {
  margin: 0;
  line-height: 2.4rem;
  font-size: 1.6rem;
  font-weight: 500;
}

.content .interactive .partner-box .partner-info.level1 .partner-app .partner-app-title {
  color: #9165eb;
}
.content .interactive .partner-box .partner-info.level2 .partner-app .partner-app-title {
  color: #0ad5d4;
}
.content .interactive .partner-box .partner-info.level3 .partner-app .partner-app-title {
  color: #2486ee;
}

.content .interactive .partner-box .partner-info .partner-app .partner-app-title svg {
  height: 1.6rem;
  vertical-align: baseline;
}

.content .interactive .partner-box .partner-info.level1 .partner-app .partner-app-title svg path {
  fill: #9165eb;
}

.content .interactive .partner-box .partner-info.level2 .partner-app .partner-app-title svg path {
  fill: #0ad5d4;
}

.content .interactive .partner-box .partner-info.level3 .partner-app .partner-app-title svg path {
  fill: #2486ee;
}

.content .interactive .partner-box .partner-info .partner-app .partner-app-detail {
  margin: 0.8rem 0 0;
  line-height: 2.4rem;
  font-size: 1.4rem;
  color: rgba(255, 255, 255, 0.9);
}

.content .interactive .interactive-light {
  position: absolute;
  top: 58%;
  left: 50%;
  width: 18rem;
  height: 18rem;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  outline: none;
  color: white;
  font-size: 2rem;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: url(../images/bg_btn_light@1x.png) no-repeat;
  background-size: contain;
}

.content .interactive .interactive-light img {
  display: block;
  width: 4rem;
  height: 4rem;
  margin: -1rem auto 1rem;
}

.content .interactive .interactive-tips {
  position: absolute;
  top: 75%;
  left: 50%;
  width: 22rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  text-align: center;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.content .interactive .interactive-join {
  position: absolute;
  left: 50%;
  bottom: -8rem;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.content .interactive .interactive-join .interactive-qrcode {
  position: absolute;
  top: -1.5rem;
  left: 0;
  width: 16rem;
  height: 16rem;
  padding: 1rem;
  opacity: 0;
  -webkit-transform: translateY(-110%);
  transform: translateY(-110%);
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
  background-color: white;
}

.content .interactive .interactive-join .interactive-qrcode::before {
  position: absolute;
  left: 50%;
  bottom: -0.5rem;
  width: 1rem;
  height: 1rem;
  content: '';
  -webkit-transform: translateX(-50%) rotate(45deg);
  transform: translateX(-50%) rotate(45deg);
  background-color: white;
}

.content .interactive .interactive-join .interactive-qrcode img {
  width: 100%;
}

.content .interactive .interactive-join a {
  display: inline-block;
  width: 16rem;
  font-size: 2rem;
  line-height: 5.6rem;
  text-align: center;
  border-radius: 0.6rem;
  text-decoration: none;
  color: white;
  border: 1px solid #02ccfe;
  -webkit-box-shadow: 0px 0px 6px 0px #02ccfe inset;
  box-shadow: 0px 0px 6px 0px #02ccfe inset;
}

.content .interactive .interactive-join a:last-child {
  margin-left: 2rem;
}

.content .interactive .interactive-join a:hover {
  background-color: rgba(2, 204, 254, 0.15);
}

.content .interactive .interactive-join a:hover + .interactive-qrcode {
  opacity: 1;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

.content .interactive .interactive-counts {
  position: absolute;
  top: 27rem;
  left: 50%;
  width: 34rem;
  -webkit-transform: translateX(-200%);
  transform: translateX(-200%);
}

.content .interactive .interactive-counts .interactive-slogan {
  position: absolute;
  top: -22rem;
  left: -9rem;
  width: 42.9rem;
  height: 20.4rem;
}

.content .interactive .interactive-counts .interactive-slogan img {
  width: 100%;
}

.content .interactive .interactive-counts h4 {
  margin: 0 0 0.4rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.6rem;
}

.content .interactive .interactive-counts h4 svg {
  height: 1.8rem;
  margin-right: 0.8rem;
  vertical-align: middle;
}

.content .interactive .interactive-counts ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.content .interactive .interactive-counts .counts-energy {
  margin-bottom: 1.6rem;
  padding: 1rem 0 1.4rem;
  border-bottom: 1px solid;
  -o-border-image: linear-gradient(90deg, #05e8ff, rgba(2, 204, 254, 0)) 1 1;
  border-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#05e8ff),
      to(rgba(2, 204, 254, 0))
    )
    1 1;
  border-image: linear-gradient(90deg, #05e8ff, rgba(2, 204, 254, 0)) 1 1;
}

.content .interactive .interactive-counts .counts-energy strong {
  margin-top: 0.6rem;
  font-size: 4rem;
  font-family: KINGDEEKB-Bold, KINGDEEKB;
  font-weight: normal;
  line-height: 4.8rem;
}

/* 能量值动效样式 */
.odometer.odometer-auto-theme .odometer-digit,
.odometer.odometer-theme-train-station .odometer-digit {
  width: 3rem;
  height: 5.8rem;
  margin-right: 1rem;
  padding: 0;
  background: rgba(5, 200, 200, 0.6);
  border-radius: 0.3rem;
}
.odometer.odometer-auto-theme .odometer-digit + .odometer-digit,
.odometer.odometer-theme-train-station .odometer-digit + .odometer-digit {
  margin-left: 0;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-digit-inner,
.odometer.odometer-theme-train-station .odometer-digit .odometer-digit-inner {
  left: 0;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-value,
.odometer.odometer-theme-train-station .odometer-digit .odometer-value {
  width: 3rem;
  height: 5.8rem;
  text-align: center;
  line-height: 6.4rem;
}
/* 能量值动效样式 */

.content .interactive .interactive-counts .counts-energy .counts-energy-effect {
  display: inline-block;
  font-family: KINGDEEKB;
  color: #01e6ff;
  font-size: 2.4rem;
  line-height: 2;
  vertical-align: bottom;
  opacity: 0;
}

.content .interactive .interactive-counts .counts-energy .counts-energy-effect.lightup {
  animation: lightup 3s;
}

.content .interactive .interactive-counts .counts-cont h4 {
  margin-bottom: 0.4rem;
  margin-left: 0.6rem;
}

.content .interactive .interactive-counts .counts-cont .counts-partner {
  margin: 4rem 0;
}

.content .interactive .interactive-counts .counts-cont .counts-numbers {
  font-size: 4rem;
  font-family: KINGDEEKB-Bold, KINGDEEKB;
  color: rgba(35, 134, 238, 1);
  line-height: 4.8rem;
}

.content .interactive .interactive-counts .counts-list {
  margin-top: 6.4rem;
  margin-left: 1.6rem;
}

.content .interactive .interactive-counts .counts-list li {
  margin-bottom: 3rem;
}

.content .interactive .interactive-counts .counts-list li strong {
  font-size: 32px;
  font-family: KINGDEEKB-Bold, KINGDEEKB;
  font-weight: normal;
  color: #2486ee;
  line-height: 48px;
}

.content .interactive .interactive-counts .counts-list li:last-child strong {
  color: #a06eff;
}

.content .description {
  z-index: 2;
  position: relative;
  width: 1200px;
  margin: 190px auto 0;
  padding-bottom: 80px;
  text-align: center;
}

.content .description .description-slogan {
  position: relative;
  width: 92%;
  margin: 0 auto;
  font-size: 28px;
  font-weight: normal;
  line-height: 36px;
}

.content .description .description-slogan::before {
  left: 0;
  background: url(../images/line_left@1x.png) left center no-repeat;
}

.content .description .description-slogan::after {
  right: 0;
  background: url(../images/line_right@1x.png) right center no-repeat;
}

.content .description .description-slogan::before,
.content .description .description-slogan::after {
  position: absolute;
  width: 162px;
  height: 100%;
  content: '';
  background-size: contain;
}

.content .description .description-stucture {
  margin: 90px auto 0;
  width: 537px;
  height: 516px;
  background: url(../images/bg_cloud_eco@1x.png);
  background-size: contain;
}

.content .description .description-stucture img {
  height: 100%;
  width: 100%;
}

.content .description .description-brand {
  position: relative;
  width: 1180px;
  height: 388px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: url(../images/bg_partner@1x.png) center bottom no-repeat;
  background-size: contain;
}

.content .description .description-brand .description-brand-qrcode {
  width: 100px;
  height: 100px;
  padding: 1rem;
  background-color: white;
}

.content .description .description-brand .description-brand-qrcode img {
  width: 100%;
}

.content .description .description-brand .description-brand-text {
  position: absolute;
  bottom: -8px;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}

.content .description .description-brand .description-brand-text span {
  font-size: 16px;
  line-height: 24px;
}

.content .description .description-brand .description-brand-text h3 {
  font-size: 28px;
  line-height: 36px;
  font-weight: normal;
}

.content .description .description-feature {
  margin-top: 157px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  list-style: none;
}

.content .description .description-feature li {
  width: 96px;
  margin: 0 52px;
  font-size: 20px;
  line-height: 28px;
}

.content .description .description-feature li img {
  width: 100%;
  margin-bottom: 17px;
}

.footer {
  width: 1000px;
  margin: 0 auto;
  line-height: 62px;
  text-align: center;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

@media screen and (max-width: 1600px) {
  html,
  body {
    font-size: 56.25%;
  }
}

@media screen and (max-width: 1500px) {
  html,
  body {
    font-size: 50%;
  }
}

@media screen and (max-width: 1367px) {
  html,
  body {
    font-size: 43.75%;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx) {
  body {
    background-image: url(../images/bg_sky@2x.png);
  }
  .header .header-title {
    background-image: url(../images/bg_header@2x.png);
  }
  #app {
    background-image: url(../images/bg_cicle@2x.png);
  }
  .content .interactive .partner-list li.level1 {
    background-image: url(../images/bg_partner_avatar_level1@2x.png);
  }
  .content .interactive .partner-list li.level2 {
    background-image: url(../images/bg_partner_avatar_level2@2x.png);
  }
  .content .interactive .partner-list li.level3 {
    background-image: url(../images/bg_partner_avatar_level3@2x.png);
  }
  .content .interactive .interactive-light {
    background-image: url(../images/bg_btn_light@2x.png);
  }
  .content .interactive .partner-info.level1::before {
    background-image: url(../images/bg_info_level1@2x.png);
  }
  .content .interactive .partner-info.level2::before {
    background-image: url(../images/bg_info_level2@2x.png);
  }
  .content .interactive .partner-info.level3::before {
    background-image: url(../images/bg_info_level3@2x.png);
  }
  .content .interactive .list .list-cont .list-icon {
    background-image: url(../images/icon_list_normal@2x.png);
  }
  .content .interactive .list .list-cont .list-icon.top {
    background-image: url(../images/icon_list_top@2x.png);
  }
  .content .description .description-slogan::before {
    background-image: url(../images/line_left@2x.png);
  }
  .content .description .description-slogan::after {
    background-image: url(../images/line_right@2x.png);
  }
  .content .description .description-stucture {
    background-image: url(../images/bg_cloud_eco@2x.png);
  }
  .content .description .description-brand {
    background-image: url(../images/bg_partner@2x.png);
  }
}
